@using controle_de_permissoes.Models.Entities.View
@model ModeloCadastroPerfilPermissao
@{
    ViewData["Title"] = "Cadastrar de novo Perfil";
}

<div class="container">
    <h1 class="display-4">Cadastro de novo Perfil</h1>
    @if (TempData["MensagemSucesso"] != null) {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-check"></i>
            <span><strong>@TempData["MensagemSucesso"]</strong></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemErro"] != null) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-check"></i>
            <span><strong>@TempData["MensagemErro"]</strong></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form id="formulario-edicao-perfil">
        <input type="hidden" id="id" asp-for="Perfil.Id" />
        <div class="row">
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" asp-for="Perfil.Nome" class="form-control" id="nome" placeholder="Digite o nome do perfil">
            </div>
            <div class="col-md-6">
                <label for="descricao" class="form-label">Descrição:</label>
                <input type="text" asp-for="Perfil.Descricao" class="form-control" id="descricao" placeholder="Digite uma descrição para o perfil">
            </div>
            <div class="col-md-6">
                <label for="sistema-id" class="form-label">Sistema:</label>
                <select asp-for="Perfil.SistemaId" class="form-select" id="sistema-id">
                    <option disabled value="">Selecione...</option>
                    @foreach (var sistema in Model.TodosSistemas) {
                        if (Model.Perfil.SistemaId == sistema.Id) {
                            <option selected value="@sistema.Id">@sistema.Nome</option>
                        }
                        <option value="@sistema.Id">@sistema.Nome</option>
                    }
                </select>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">
                        <a class="btn btn-success" id="adicionar-permissao">Adicionar Permissao</a>
                    </th>
                </tr>
            </thead>
            <tbody id="selecao-permissoes">
                <!--Os campos de select daqui são inseridos via javascript-->
                @for (int i = 0; i < Model.getPermissoesSelecionadas().Count; i++) {
                    <tr id="select-@i">
                        <th scope="row">@(i + 1)</th>
                        <td>
                            <select class="permissao-selecionada form-select" asp-for="PermissoesSelecionadas[i]">
                                <option value="">Selecione um perfil...</option>
                                @foreach (var perfil in Model.TodasPermissoes) {
                                    if (Model.PermissoesSelecionadas[i].Id == perfil.Id) {
                                        <option selected value="@perfil.Id">@perfil.Nome</option>
                                    }
                                    <option value="@perfil.Id">@perfil.Nome</option>
                                }
                            </select>
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick="removerPerfil(@i);">Remover Perfil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Alterar</button>
            <a class="btn btn-secondary" asp-controller="Perfil" asp-action="Index" role="button">Voltar</a>
        </div>
    </form>
</div>