@using controle_de_permissoes.Models.Entities.Orm;
@model List<Permissao>
@{
    ViewData["Title"] = "Listagem de Permissões";
}

<div class="container text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Permissao" asp-action="Cadastrar">Adicionar nova Permissão</a>
    </div>
    <br>
    @if (TempData["MensagemSucesso"] != null) {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-check"></i>
            <span><strong>@TempData["MensagemSucesso"]</strong></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemErro"] != null) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-check"></i>
            <span><strong>@TempData["MensagemErro"]</strong></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <br>
    <h1 class="display-4">Listagem de Permissões</h1>
    <table class="table table-striped table-hover" id="table-permissoes">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sistema</th>
                <th scope="col">Permissão</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any()) {
                foreach (var permissao in Model) {
                    <tr>
                        <th scope="row">@permissao.Id</th>
                        <td><a></a> @permissao.GetSistema().Nome</td>
                        <td><a></a> @permissao.Nome</td>
                        <td><a></a> @permissao.Descricao</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Ações">
                                <a role="button" class="btn btn-info btn-sm" asp-route-id="@permissao.Id" asp-controller="Permissao" asp-action="Editar"><i class="fa-solid fa-pencil"></i></a>
                                <a role="button" class="btn btn-danger btn-sm" asp-route-id="@permissao.Id" asp-controller="Permissao" asp-action="ApagarConfirmacao"><i class="fa-regular fa-circle-xmark"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            } else {
                <tr class="odd">
                    <td valign="top" colspan="4">Nenhum Usuário encontrado</td>
                </tr>
            }
        </tbody>
    </table>
</div>